<% include partials/header %>
<h2>Add new campground's details!</h2>
<form action="/campgrounds" method="POST">
<input type="text" name="name" placeholder="CampName">
<input type="text" name="image" placeholder="image url">
<input type="submit">
</form>

<% include partials/footer %>