<% include partials/header %>
<h1>This is the show page!</h1>
<p><%= campground.name %><p>
<img src="<%= campground.image %>">
<div>
<p><%= campground.description %></p></div>
<% include partials/footer %>